#title{ margin-left: auto;
    margin-right: auto;
    width: 11em;
    display: block;
    margin-bottom: -3%;
    text-align: "centre";
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    font-weight:bold;
    top:10%;
    background-color:white}

.heading {  font-family: 'Teko', sans-serif;
    font-size: 40px;
    text-align: "centre";
    margin-right: auto;
    margin-left: auto;
    width: 15em}
.paragraph{font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: "centre";
    margin-right: auto;
    margin-left: auto;
    width: 60em;}
#MapDiv{ margin-right: auto;
    margin-left: auto;
    width: 65em;
    background-color:white}
.ChartDiv{ margin-left: 0%;
    width: 58em;}
.paragraph{font-family:'Open Sans', sans-serif;
font-size: 12px;
font-weight:normal}
#barChart{width: 28em;
    margin-right: auto;}
#barTitle{font-family: 'Teko', sans-serif;
    width: 28em;
    margin-left: 50%;
    margin-top: -27%;
    font-size: 40px;}
#barParagraph{font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 38em;
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 50%;
}
#sectionedBar{width: 60em;
height:17em;
margin-top:10%
}
.Sectioned {
    margin-top: 50px;
    height: 30vw;
    }
.southAsia_text {color:#74B72F}
.southeastAsia_text {color:#028A0F}
.westernEurope_text {color:#02a4d3}
.northAmericaANZ_text{color:#990F02}
.middleEastNorthAfrica_text{color:#FA8128}
.commonwealthIndependentStates_text{color:#3832C2}
.latinAmericaCarribean_text {color:#E3242B}
.subSaharanAfrica_text{color:#FCAE1E}